* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Candara, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #fafafa;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 24px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 2rem;
    font-weight: 600;
}

.header-nav{
    display:flex;
    gap: 32px;
}

.header-nav a{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
}

.content {
    max-width: 850px;
    margin: 120px auto 0 auto;
    padding: 0 24px;
}

.about-layout {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.about-text{
    flex:1;
}

.about-text ul{
    list-style-position: inside;
    padding-left: 20px;
}

.about-image{
    width: 275px;
    height: auto;
    border-radius: 8px;

    margin-top: 4.5rem;
}

.social-links{
    display:flex;
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 10px;
}

.social-links img{
    width: 20px;
    height: 20px;
}

.social-links a{
    color:inherit;

    display:flex;
    align-items: baseline;
    gap: 5px;

    text-decoration: none;
}

.social-links a:hover{
    text-decoration: underline;
}

.content h1 {
    margin-bottom: 16px;
}

.content p {
    font-size: 1.2rem;
    color: #444;
}