* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height:100%;
    scroll-behavior: smooth;
}

body {
    /* min-height: 100vh; */
    display:flex;
    flex-direction: column;

    height:100%;

    font-family: Candara, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #fafafa;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 24px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}


.footer-container{
    position:relative;
}

.site-footer{
    display:flex;
    position:relative;
    padding: 16px 24px;
    
    height:60px;
    background-color: rgb(0, 73, 0);
    color:white;

    min-height: 60px;
}

.name {
    font-size: 2rem;
    font-weight: 600;
}

.header-nav{
    display:flex;
    gap: 32px;
}

.header-nav a{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
}

.content {
    max-width: 850px;
    margin: 120px auto 0 auto;
    padding: 0 24px;

    flex: 1;
    z-index:50;
}

.experience-content{
    width: 100%;
    max-width: 1100px;
    margin:120px auto 120px auto;
    position:relative;

    font-size: 24px;

    padding-left: 15px;

    border-left: 1px solid #e5e5e5;

    flex:1;
    justify-content: center;

    z-index:50;
}

.projects-content{
    width: 100%;
    max-width: 1100px;
    margin:120px auto 120px auto;
    position:relative;

    font-size: 24px;

    padding-left: 15px;

    border-left: 1px solid #e5e5e5;

    flex:1;
    justify-content: center;

    z-index:50;
}

.courses{
    width: 100%;
    max-width: 900px;
    margin: 120px auto 0 auto;

    flex: 1;
}

.experience-menu{
    position:fixed;
    top: 120px;
    left: 50%;

    transform: translateX(-300%);
    color:#777777;

    white-space: nowrap;
}  

.projects-menu{
    position:fixed;
    top: 120px;
    left: 50%;

    transform: translateX(-300%);
    color:#777777;

    white-space: nowrap;
}  

.experience-menu a, .projects-menu a{
    color:inherit;

    text-decoration: none;
}

.about-layout {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.about-text{
    flex:1;
}

.about-text ul{
    list-style-position: inside;
    padding-left: 20px;
}

.about-image{
    width: 225px;
    height: auto;
    border-radius: 12px;

    margin-top: 4.5rem;
}

.social-links{
    display:flex;
    gap: 10px;

    margin-top: 20px;
    margin-bottom: 10px;
}

.social-links img{
    width: 20px;
    height: 20px;
}

.social-links a{
    color:inherit;

    display:flex;
    align-items: baseline;
    gap: 5px;

    text-decoration: none;
}

.social-links a:hover{
    text-decoration: underline;
}

.content h1 {
    margin-bottom: 16px;
}

.content p {
    font-size: 1.2rem;
    color: #444;
}

.experience-content p, .projects-content p{
    font-size: 1.2rem;
}

.experience-content h1, .projects-content h1{
    font-size: 2.5rem;
    margin-bottom:0px;
}
.experience-content h2, .projects-content h2{
    font-size: 1.5rem;
    margin-bottom:5px;

    scroll-margin-top: 100px;
}

.experience-individual-subcontent, .projects-individual-subcontent{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;

    margin-bottom: 20px;

    gap: 15px;

    /* display: grid;
    grid-template-columns: 70% 30%;

    column-gap: 30px; */
}

.experience-individiual-title{
    margin-left: 50px;
    margin-bottom: 5px;
    line-height: 20px;
}

.experience-individual-subcontent img, .projects-individual-subcontent img{
    width: 400px;
    height: auto;
    margin-bottom: 20px;

    border-radius: 10px;
}

.course-grid{
    justify-content: center;
    display:grid;
    
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: repeat(1, 225px);
    gap: 50px;

    margin-top: 20px;
}

.course-grid-cell{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;

    border-radius: 15px;
    padding: 20px 30px;
}

.cow{
    width: 80px;
    height:80px;

    position:relative;
    
    /* border:1px solid black; */
    background: url(images/cow-walking.png);

    animation: walk 0.7s steps(2) infinite;
}

@keyframes walk{
    0% {
        background-position: 0 0;
    }
    100%{
        background-position: 0 -160px;
    }
}

.slideshow{
    position:relative;
    height: auto;
}

.img-slideshow{
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 10px;

    margin-bottom: 0px;
    padding-bottom:0px;
}

.img-info{
    position: relative;
}

.description-slideshow{
    font-size: 18px;
    text-align: center;

    margin-top:-30px;
    padding-top:0px;
}

.nav-button{
    position:absolute;
    top:50%;
    transform: translateY(-70%);
    background: rgba(0, 0, 0, 0.35);
    border:none;

    color:white;

    font-size: 32px;
    padding: 12px 18px;
    
    cursor:pointer;
    border-radius: 50%;
}

.nav-button.hidden{
    display: none;
}

.left{
    left:10px;
}

.right{
    right:10px;
}

.full-screen{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1001;
}

.full-screen.hidden{
    display:none;
}